@media print {

  #sidebar-menu, header, footer, #profile, #top-nav, #footer, #miga, #botones, #rem_ant {
    display: none !important;
  }
  #titulo{
    width: 400px;
    float: left;
  }
  #logo_boleta{
    width: 100%;
    background-color: #00b3ee;
  }
  #logo_boleta img{
    margin: auto;
  }
  #all{
    font-size: 12px;
  }
  #panel{
    margin-top: -10px;
  }
  #general{
    width: 100%;
  }
  #resp{
    width: 100%;
    text-align: center;
    margin-left: 25px;
  }
  #sin_val{
    width: 50%;
    margin: -5px;
    font-size: 10px;
  }
  #proto_panel{
    width: 100%;
    margin-bottom: -5px;
  }
  #group_name{
    width: 100%;
  }
  #antibioticos{
    width: 100%;
  }
  #imp_proto{
    line-height: -5px;
    font-size: 8px;
    border-collapse: collapse;
  }
  #tr_proto{
    font-size: 8px;
    background: #E0E0E0;
  }
  #panel_comp{
    width: 100%;
  }
  #serv{
    font-size: 8px;
  }
  #test{
    font-size: 12px;
  }
  table{
    border-spacing: 0px;
    border-collapse: separate;
  }
  #th_x{
    background: #E0E0E0 !important;
  }
}